@import "vars.scss";

* {
    margin: 0 0;
    padding: 0 0;
    font-family: 'Arimo', sans-serif;
    font-size: 14px;
    color: white;
    cursor: default;
    user-select: none;
    // outline: 1px dotted pink;
}

html {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

*,
*:before,
*:after {
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit;
}

body {
    background-color: $mainColor;
}

// tooltips 

.tooltip,.tooltip-left {
    position: relative;
}

.tooltip:hover:after {
    font-size: 14px;
    width: 150px;
    text-align: left;
    line-height: 16px;
    background: $tooltipColor;
    border-radius: 10px;
    border: 1px solid darken($tooltipColor,5%);
    box-shadow: 6px 6px 22px -4px rgba(0,0,0,0.82);
    position: absolute;    
    top: 20px;
    left: 15px;    
    color: #fff;
    content: attr(data-title);
    display: inline-block;
    padding: 5px 10px;
    text-shadow: 0 1px 0 #000;
    z-index: 10;
    animation: zoomin 0.3s linear;
}

.tooltip-left:hover:after {
    font-size: 14px;
    width: 150px;
    text-align: left;
    line-height: 16px;
    background: $tooltipColor;
        border-radius: 10px;
    border: 1px solid darken($tooltipColor,5%);
    box-shadow: 6px 6px 22px -4px rgba(0,0,0,0.82);
    position: absolute;    
    top: 20px;
    right: 20px;    
    color: #fff;
    content: attr(data-title);
    display: inline-block;
    padding: 5px 10px;
    text-shadow: 0 1px 0 #000;
    z-index: 10;
    animation: zoomin 0.3s linear;
}

@keyframes zoomin {
    0% { transform: scale(0.95); }
    20% { transform: scale(1.2); }
    100% { transform: scale(0.95) }
}

#help {
    transition: background-color 0.5s ease;
}

.help-off {
    background-color: transparent;
}

.help-on {
    background-color: $tooltipColor;
}


// menu

#menu {
    width: 600px;
}

.menu-row {
    margin: 10px 15px;
    width: 600px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
}


// title

h1 {
    font-size: 30px;
    font-weight: 400;
    display: block;
    height: 34px;
}

// app

.wrapper {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

#top-panel {
    height: 34px;
    margin: 10px 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#controls {
    width: 320px;
    height: 34px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}

.select {
    border-radius: 50%;
    animation: border-zoom 0.2s linear;
    z-index: 10;
}

@keyframes border-zoom {
    0% { transform: scale(0.95); }
    50% { transform: scale(1.2); }
    100% { transform: scale(0.95) }
}

// beat counter

#bar-counter {   
    border-radius: 50%;
    margin: 2px 2px;
    flex-basis: 30px;
    height: 30px;
    color: $buttonContent;
    border: 4px solid $counterBorder;
    border-top: 4px solid $counterCursor;
    transition: transform 0.1s;
    transform: rotate(45deg);
}

// 
#grid {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    align-self: center;
}

.cell {
    background-color: $cellBackground;
    border: 1px solid $cellBorder;
    border-radius: 17px;
    margin: 2px 2px;
    flex-basis: 30px;
    text-align: center;
    height: 30px;
    line-height: 28px;
    color: white;
}

.cursor {
    border: 1px solid $cursorBorder;
}

.bouncer {
    border: 1px solid $bouncerBorder;
}

.trigger {
    background-color: $triggerBackground;
    border: 1px solid $triggerBorder; 
}

@keyframes triggerGlow {

    0% {
        box-shadow: 0px 0px 0px 0px;
    }
    70% {
        box-shadow: 0px 0px 3px 3px $triggerGlow;
    }
    100% {
        box-shadow: 0px 0px 0px 0px;
    }
}

.trigGlow {
   animation-iteration-count: 1;
    animation: triggerGlow 0.08s;
}


#right-panel {
    width: 35px;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
}

.button {
    border-radius: 20px;
    margin: 2px 2px;
    // width: 30px;
    height: 30px;
    line-height: 28px;
    text-align: center;
    font-weight: 400;
    color: $buttonContent;
}


.size-30 {
    flex-basis: 30px;
}

.size-60 {
    flex-basis: 64px;
}

.size-90 {
    flex-basis: 98px;
}

.size-140 {
    flex-basis: 140px;
}

.size-180 {
    flex-basis: 180px;
}

@keyframes glowingBorder {

    0% {
        box-shadow: 0px 0px 0px 0px transparent;
    }
    50% {
        box-shadow: 0px 0px 5px 2px $menuGlow;
    }
    100% {
        box-shadow: 0px 0px 0px 0px transparent;
    }
}

.glow {
    animation: glowingBorder 1s infinite;
}



#bottom-panel {
    margin: 10px 0px;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
}

.sample-bank {
    flex-basis: 306px;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
}

.sample {
    color: $cursorBorder;
    border: 1px solid $cursorBorder;
}
